/* Reset default margin and padding */
body, header, footer, div {
  margin: 0;
  padding: 0;
}

/* Set background colors and heights */
header {
  background-color: #f2f2f2;
  height: 150px;
}

.content {
  background-color: #e6e6e6;
  min-height: 400px;
}

footer {
  background-color: #f2f2f2;
  height: 50px;
}

/* Center text in header and footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add some spacing and styling to the content */
.content {
  padding: 20px;
}

/*Button Container*/
.button-container {
  display: flex;
  align-items: center;
}

/*Search Bar Stule*/
.pill-button {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 10px 75px;
  box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
  border: none;
  margin: 20px;
}

.fa-icon {
  margin-right: 10px;
}

.search-bar {
  text-align: left;
}

.line1 {
  font-weight: bold;
}

.line2 {
  font-size: 10px;
  color: rgb(105, 105, 105)
}

/*Filter Button*/
.filter {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid lightgray;
  background-color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

/*Navigation Bar Style*/
.icon-list {
  list-style:none;
  padding: 0;
}

.icon-list li {
  display: inline;
  margin-right: 10px
}

.icon-list li i {
  margin-right: 2.5px
}

.icon-list li span {
  text-decoration: none;
  color: black;
}


/*Bottom Bar Style*/
.icon-bottom {
  list-style: none;
  padding: 0;
}

.icon-bottom li {
  display: inline;
  margin-right: 15px;
}

.icon-bottom li i {
  margin-right: 10px;
}

.icon-bottom li span {
  text-decoration: none;
  color: black;
}