/* Reset default margin and padding */
body, header, footer, div {
  margin: 0;
  padding: 0;
}

/* Set background colors and heights */
header {
  background-color: white;
  height: 150px;
}

.content {
  background-color: rgb(240, 240, 240);
  min-height: 490px;
}

footer {
  background-color: white;
  height: 50px;
}

/* Center text in header and footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add some spacing and styling to the content */
.content {
  padding: 20px;
}

/*Button Container*/
.button-container {
  display: flex;
  align-items: center;
}

/*Search Bar Style*/
.pill-button {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 10px 75px;
  box-shadow: 0 0 5px rgba(80, 80, 80, 0.5);
  border: none;
  margin: 20px;
}

.fa-icon {
  margin-right: 10px;
}

.search-bar {
  text-align: left;
}

.line1 {
  font-weight: bold;
}

.line2 {
  font-size: 10px;
  color: rgb(105, 105, 105)
}

/*Filter Button*/
.filter {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid rgb(175, 175, 175);
  background-color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Navigation Bar*/
.icon-list {
  display: flex;
  justify-content: center;
  list-style: none;
  color: gray;
  padding: 0;
}

.icon-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.icon-list li i {
  font-size: 24px;
  margin-bottom: 5px;
}

.icon-list li span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: gray;
  text-align: center;
}

/*Bottom Search-Bar*/
.icon-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: auto;
}

.icon {
  text-align: center;
  margin: 10px;
  color: gray;
}

.description {
  margin-top: 1px;
  font-size: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}